<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wtkj.charge_inspect">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name=".views.activity.WelComeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.NameRollXiafaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.BusinessContentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.GreenRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.GreenRecordListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.IncrementListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.IncrementAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.NameRollManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.NameRollAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.NameRollAddGreyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.NameRollAddYellowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ArticleListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activity.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.TestBasicVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.custom.videocapture.VideoRecordActivity"
            android:screenOrientation="portrait" />

    </application>


    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.wtkj.dangerousgoodcollector.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


</manifest>